/* Configuração básica */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffe1f3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 80vh;
  overflow: hidden !important;
  width: 100vw;
}

.container {
  text-align: center;
  width: 100%;
}

.where {
  width: 80vw;
  overflow: hidden;
  height: 250px;
  text-align: center;
  position: relative;
}

.where img {
  width: 340px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 30px;
}

.content {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: -50;
}

h1 {
  color: #e91e63;
  font-size: 26px;
  margin-bottom: 15px;
}

.intro-text {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

a.btn {
  background-color: #e91e63;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

a.btn:hover {
  background-color: #d81b60;
  transform: scale(1.05);
}@

/* Responsividade para iPhone 12 Pro (menor) */
@media (max-width: 390px) {
  .content {
      padding: 15px;
  }

  h1 {
      font-size: 22px;
  }

  .intro-text, .highlight {
      font-size: 16px;
  }

  a.btn {
      font-size: 14px;
      padding: 10px 15px;
  }
}

canvas {
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  z-index: 999999;
  top: 0;
  left: 0;
}