@import 'variables.scss';

body {
  padding: 16px;
}

header {
  text-align: center;
}

.picture {
  &-image {
    border-radius: 100%;
    width: 70%;

    @media (min-width: 992px) {
      width: 30%;
    }
  }
}

.description {
  max-width: 400px;
  margin: 0 auto;

  &--quote {
    display: block;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;

  &-piece {
    width: 50%;
  }

  &--label {
    margin-bottom: 4px;
  }

  &--info {
    font-weight: bold;

    a {
      color: $indigo;
    }

    &--primary {
      margin-bottom: 0;
    }

    &--secondary {
      font-weight: normal;
      margin: 0;
    }

    & .address {
      display: block;
      font-size: 12px;
    }
  }
}

.button {
  background: $purple;
  border-radius: 20px;
  border: 0;
  color: $white;
  font-weight: bold;
  height: 7vh;
  outline-color: #000;
  width: 100%;

  &.reply {
    margin-top: 20px;
  }
}

.rvsp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-thanks {
    text-align: center;
    margin-top: 30px;
  }

  &-divider {
    background: $white;
  }

  &-field {
    width: 45%;

    &--attending {
      width: 100%;
    }
  }

  &--attending {
    display: inline-block;
    font-weight: bold;

    &-wrapper {
      display: flex;
      margin-bottom: 20px;

      input:checked + label {
        background: darken($purple, 20%);
        color: $white;
      }

      label {
        background: $white;
        border: 1px solid $purple;
        color: $purple;
        cursor: pointer;
        margin: 0;
        padding: 8px;
        text-align: center;
        width: 33%;

        &:hover {
          background: $purple;
          color: $white;
        }
      }
    }
  }

  label {
    display: block;
    font-weight: bold;
  }

  input {
    background: transparent;
    border-radius: 10px;
    border: 1px solid $white;
    color: $white;
    font-size: 24px;
    padding: 8px;
    width: 100%;

    &[type='radio'] {
      display: none;
    }
  }

  button {
    margin-top: 20px;

    &[disabled] {
      background: $gray-400;
      color: $purple;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.rvsp-list {
  margin-top: 20px;
  width: 100%;

  &--name {
    min-width: 200px;
  }

  &--attending {
    margin-left: 30px;

    &--yes {
      color: $green;
    }

    &--no {
      color: $red;
    }

    &--maybe {
      color: $gray-700;
    }
  }
}
