/*- 🎨 Base Style
 *
 * Responsible for all typography,
 * variables, spacing, and everything
 * ~only-view-way~ pages of SPA on guicheffer.me website
 *
 * _ps_. Inspired on "cheffplate" settings
 *
 * cheffplate! by @guicheffer
 * https://github.com/guicheffer/cheffplate
 *
 *
 *
-*/

@import 'reset';
@import 'palette';
@import 'typography';

@import 'layout';

@import '../commons/header/header';

@import '../home/entry';

font-face-normal()
font-face-bold()

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $gray-cod;
  color: $black-base;
  line-height: $font-size-base + $spacing-xsmall;
}

body, input, a {
  font-family: 'Mukta', Helvetica, sans-serif;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  text-decoration: none;
}

.guicheffer {
  guicheffer-layout();
  guicheffer-layout-responsive();

  &__home {
    home();
    home-responsive();
  }

  &__header {
    header();
    header-responsive();
  }

  &__footer {}
}
