/*- 🎨 Base layout
 *
 * Responsible for all commons layout
 *
-*/

@import 'container';
@import 'spacing';

guicheffer-layout() {
  &__container {
    container();
  }
}

guicheffer-layout-responsive() {
  &__container {
    container-responsive();
  }
}
