/*- 🎨 Color palette
 *
 * Responsible for all color palette on SPA guicheffer.me website project
 *
-*/

// Colors itself (From my mind)
$black = #333333;

$blue = #3956e6;
$blue-01 = #3956e6;

$gray = #c7c7c7;
$gray-01 = #e2e2e2;
$gray-02 = #535659;
$gray-03 = #d7d7d8;
$gray-04 = #d0d0d0;
$gray-05 = #d0d0d0;
$gray-06 = #a5a5a5;

$white = #FFFFFF;

$red = #db2437;

// Given names (I used Name that Color project for this | http://chir.ag/projects/name-that-color/)
$black-base = $black;

$blue-base = $blue;
$blue-action = $blue-01;

$gray-base = $gray;
$gray-cod = $gray-01;
$gray-abbey = $gray-02;
$gray-eock = $gray-03;
$gray-bofs = $gray-04;
$gray-ntd = $gray-05;
$gray-border = $gray-06;

$white-base = $white;

$red-base = $red;
