/*- 🎨 Base spacing sizes
 *
 * Responsible for all spacing sizes
 *
-*/

$spacing-xxxsmall = 2px;
$spacing-xxsmall = 4px;
$spacing-xsmall = 8px;
$spacing-small = 12px;
$spacing-base = 16px;
$spacing-large = 24px;
$spacing-xlarge = 32px;
$spacing-xxlarge = 48px;
$spacing-xxxlarge = 64px;

$border-radius-default-spacing = $spacing-xxxsmall;
$border-radius-base = $border-radius-default-spacing;
$border-radius-large = $spacing-xxsmall;
$border-radius-xlarge = $spacing-base;
