/*- 🎨 Utils styles
 *
 * There're many utils functions right here ~I guess 👀~
 *
-*/

// Absolute middle position
//
// e.g.: absolute-middle-position() for middle position of an element
//
// ----------------------------------------------
absolute-middle-position() {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
