/*- ⭐️ Header Style
 *
 *
-*/

@import '../styleguide/palette';
@import '../styleguide/typography';

header() {
	background: red;
	display:block;
	height: 40px;
	width: 100;
}

header-responsive() {}
